<div class="box-office col-sm-4">
  <h3>Box Office Movies</h3>

  <table class="table table-striped box-office-table">
    <th>Pic</th>
    <th class="center-text">Title</th>
    
    <% box_office_movies.each do |movie| %>
      <tr>
        <td><%= image_tag(movie.thumbnail_poster_link, size: "21x31") %></td>
        <td class="title-tab">
          <strong><%= link_to movie.title, movie_path(:movie_id => movie.rotten_tomatoes_id, :id => 'show') %></strong>
        </td>
      </tr>
    <% end %>
  </table>
</div>