<table class="table">
  <th>Pic</th>
  <th>Title (Year) </th>

	<% box_office_movies.each do |movie| %>
    <tr>
      <td><%= image_tag(movie.thumbnail_poster_link, size: "21x31") %></td>
      <td>
        <strong><%= link_to movie.title, movie_path(:movie_id => movie.rotten_tomatoes_id, :id => 'show') %></strong>
      </td>
    </tr>
	<% end %>
</table>