/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require_self
 *= require_tree .
 */


#left-nav {
  margin-top: 8px; 
  padding-right: 0px;
}

#middle-nav {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#right-nav {
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 0px;

}

#body{

}

#container{
background-color: #fff;
}

#container2{
padding-left: 10%;
padding-bottom:10%; 
padding-right:10%;
background-color: #fff;
}
#li1{
float: right;
}

#dd{
margin-top: 10%;
margin-bottom: -5%;
}

#ddmenu{
padding: 15px; margin-left: 0%;
}


