<form class="form-signin" role="form">
        <h2 class="form-signin-heading">Register now</h2>
        <input type="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
		<input type="password" class="form-control" placeholder="Verify Password" required>
        <input type="email" class="form-control" placeholder="Email Address" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
		<p class="text-centered">Already have an account? 
	<%= link_to "Log in now", "/signin/" %>
	</p>
      </form>  
      </div>
